{% extends 'base.html'%} {% block content %}

<div class="container update-information">
  <form method="post">
    {% csrf_token %}
    <h3>Personal information</h3>
    <div class="input-container">
      <div>
        <label for="">Email</label>
        <input required type="email" name="email" />
      </div>
      <div>
        <label for="">Username</label>
        <input required type="text" name="username" />
      </div>
      <div>
        <label for="">First name</label>
        <input required type="text" name="first_name" />
      </div>
      <div>
        <label for="">Last name</label>
        <input required type="text" name="last_name" />
      </div>
      <div>
        <label for="">Middle name</label>
        <input required type="text" name="middle_name" />
      </div>
      <div>
        <label for="Birthday">Birthday</label>
        <input required type="date" name="birthday" />
      </div>
      <div>
        <label for="">Birthplace</label>
        <input required type="text" name="birthplace" />
      </div>
      <div>
        <label for="">Age</label>
        <input required type="number" name="age" />
      </div>
      <div>
        <label for="">Mobile no.</label>
        <input required type="text" name="student_contact" />
      </div>
      <div>
        <label for="">Address</label>
        <input required type="text" name="address" />
      </div>
      <div>
        <label for="">Sex</label>
        <select name="sex">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </div>
      <div>
        <label for="">Civil status</label>
        <select name="civil_status">
          <option value="Single">Single</option>
          <option value="Married">Married</option>
          <option value="Widowed">Widowed</option>
          <option value="Divorced">Divorced</option>
        </select>
      </div>
    </div>
    <h3>Educational Background</h3>
    <div class="education-input-container">
      <div>
        <label for="">Elementary</label>
        <input required type="text" name="elementary" />
      </div>
      <div>
        <label for="">School address</label>
        <input required type="text" name="elem_add" />
      </div>
      <div>
        <label for="">Year graduated</label>
        <input required type="number" name="elem_grad" />
      </div>
      <div>
        <label for="">Secondary</label>
        <input required type="text" name="secondary" />
      </div>
      <div>
        <label for="">School address</label>
        <input required type="text" name="secondary_add" />
      </div>
      <div>
        <label for="">Year graduated</label>
        <input required type="number" name="secondary_grad" />
      </div>
      <div>
        <label for="">Senior high</label>
        <input required type="text" name="senior" />
      </div>
      <div>
        <label for="">School adress</label>
        <input required type="text" name="senior_add" />
      </div>
      <div>
        <label for="">Year graduated</label>
        <input required type="text" name="senior_grad" />
      </div>
    </div>
    <h3>Guardian information</h3>
    <div class="education-input-container">
      <div>
        <label for="">Mother fullname</label>
        <input required type="text" name="mother_name" />
      </div>
      <div>
        <label for="">Mother ocupation</label>
        <input required type="text" name="mother_occupation" />
      </div>
      <div>
        <label for="">Mother income</label>
        <input required type="number" name="mother_income" />
      </div>
      <div>
        <label for="">Father fullname</label>
        <input required type="text" name="father_name" />
      </div>
      <div>
        <label for="">Father occupation</label>
        <input required type="text" name="father_occupation" />
      </div>
      <div>
        <label for="">Father income</label>
        <input required type="number" name="father_income" />
      </div>
      <div>
        <label for="">Mobile no.</label>
        <input required type="text" name="contact" />
      </div>
    </div>
    <h3>Students additional information</h3>
    <div class="input-container">
      <div>
        <label for="">Course</label>
        <input required type="text" name="course" />
      </div>
      <div>
        <label for="">Year level</label>
        <select name="year-level">
          <option value="First year">First year</option>
          <option value="Second year">Second year</option>
          <option value="Third year">Third year</option>
          <option value="Fourth year">Fourth year</option>
          <option value="Fifth year">Fifth year</option>
        </select>
      </div>
      <div>
        <label for="">Units enrolled</label>
        <input required type="text" name="units" />
      </div>
      <div>
        <label for="">Expected year of graduation</label>
        <input required type="number" name="graduation_year" />
      </div>
      <div>
        <label for="">Graduating</label>
        <select name="graduating">
          <option value="No">No</option>
          <option value="Yes">Yes</option>
        </select>
      </div>
      <div>
        <label for="">School name</label>
        <select name="school_name">
          <option value="ACTS computer college">ACTS computer college</option>
          <option value="Laguna State Polytechnic University">
            Laguna State Polytechnic University
          </option>
          <option value="Laguna University">Laguna University</option>
          <option value="AMA college">AMA college</option>
          <option value="STI college">STI college</option>
          <option value="Union College">Union College</option>
          <option value="Philippine Women's University">
            Philippine Women's University
          </option>
        </select>
      </div>
      <div>
        <label for="">School address</label>
        <input required type="text" name="school_add" />
      </div>
    </div>
    <hr class="line" />
    <div class="form-group" style="margin-top: 20px">
      <input type="submit" class="submit-button" value="Update" />
    </div>
  </form>
</div>

{% endblock %}
