{% extends 'base.html' %} {%block content%}

<div class="profile-container">
  <h1 class="profile-title">
    {% if other_information.approved %}
    <i class="fa fa-check-circle check-icon" aria-hidden="true"></i>
    {% else %}
    <i class="fa fa-minus-circle close-icon" aria-hidden="true"></i>
    {% endif %} Student profile
  </h1>
  <div class="two-bar-container">
    <div class="side-bar">{% include 'side-bar.html' %}</div>
    <div class="informations">
      <div>
        <label for="">Course</label>
        <input disabled type="text" value="{{ additional.course }}" />
      </div>
      <div>
        <label for="">Year level</label>
        <input disabled type="text" value="{{ additional.year_level }}" />
      </div>
      <div>
        <label for="">Units enrolled</label>
        <input disabled type="text" value="{{additional.units_enrolled}}" />
      </div>
      <div>
        <label for="">Expected year of graduation</label>
        <input
          disabled
          type="text"
          value="{{ additional.expected_year_graduation }}"
        />
      </div>
      <div>
        <label for="">graduating</label>
        {% if additional.graduating %}
        <input disabled type="text" value="Yes" />
        {% else %}
        <input disabled type="text" value="No" />
        {% endif %}
      </div>
      <div>
        <label for="">School name</label>
        <input disabled type="text" value="{{ additional.school_name }}" />
      </div>
      <div>
        <label for="">School address</label>
        <input disabled type="text" value="{{additional.school_address}}" />
      </div>
    </div>
  </div>
</div>

{% endblock %}
