{% extends 'base.html' %} {%block content%}

<div class="profile-container">
  <h1 class="profile-title">
    {% if other_information.approved %}
    <i class="fa fa-check-circle check-icon" aria-hidden="true"></i>
    {% else %}
    <i class="fa fa-minus-circle close-icon" aria-hidden="true"></i>
    {% endif %} Student profile
  </h1>
  <div class="two-bar-container">
    <div class="side-bar">{% include 'side-bar.html' %}</div>
    <div class="informations">
      <div>
        <label for="">Elementary school</label>
        <input disabled type="text" value="{{ background.elementary }}" />
      </div>
      <div>
        <label for="">School address</label>
        <input
          disabled
          type="text"
          value="{{ background.elem_school_location }}"
        />
      </div>
      <div>
        <label for="">Year graduated</label>
        <input
          disabled
          type="text"
          value="{{background.elem_year_graduated}}"
        />
      </div>
      <div>
        <label for="">Secondary School</label>
        <input disabled type="text" value="{{ background.secondary }}" />
      </div>
      <div>
        <label for="">School address</label>
        <input
          disabled
          type="text"
          value="{{ background.secondary_school_location }}"
        />
      </div>
      <div>
        <label for="">Year graduated</label>
        <input
          disabled
          type="text"
          value="{{ background.secondary_year_graduated }}"
        />
      </div>
      <div>
        <label for="">Senior High School</label>
        <input disabled type="text" value="{{background.senior_high}}" />
      </div>
      <div>
        <label for="">School Address</label>
        <input
          disabled
          type="text"
          value="{{background.senior_school_location}}"
        />
      </div>
      <div>
        <label for="">Year graduated</label>
        <input
          disabled
          type="text"
          value="{{background.senior_year_graduated}}"
        />
      </div>
    </div>
  </div>
</div>

{% endblock %}
