{% extends 'base.html' %} {%block content%}

<div class="profile-container">
  <h1 class="profile-title">
    {% if other_information.approved %}
    <i class="fa fa-check-circle check-icon" aria-hidden="true"></i>
    {% else %}
    <i class="fa fa-minus-circle close-icon" aria-hidden="true"></i>
    {% endif %} Student profile
  </h1>
  <div class="two-bar-container">
    <div class="side-bar">{% include 'side-bar.html' %}</div>
    <div class="informations">
      <div>
        <label for="">Mother's name</label>
        <input disabled type="text" value="{{ guardian.mother_name }}" />
      </div>
      <div>
        <label for="">Mother's occupation</label>
        <input disabled type="text" value="{{ guardian.mother_ocupation }}" />
      </div>
      <div>
        <label for="">Mother's income</label>
        <input disabled type="text" value="{{ guardian.mother_income }}" />
      </div>
      <div>
        <label for="">Father's name</label>
        <input disabled type="text" value="{{ guardian.father_name }}" />
      </div>
      <div>
        <label for="">Father's occupation</label>
        <input disabled type="text" value="{{ guardian.father_ocupation }}" />
      </div>
      <div>
        <label for="">Father's income</label>
        <input disabled type="text" value="{{ guardian.father_income }}" />
      </div>
      <div>
        <label for="">Mobile number</label>
        <input disabled type="text" value="{{ guardian.contact }}" />
      </div>
    </div>
  </div>
</div>

{% endblock %}
