nav {
  height: 50px;
  background-color: #f4c430;
  color: var(--blue);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: var(--dark-shadow);
}

.nav-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-title {
  font-size: 20px;
}

.nav-logo {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  margin-right: 8px;
}

.nav-items a {
  text-decoration: none;
  cursor: pointer;
  color: var(--blue);
  font-weight: bold;
  margin: 0 10px;
  border-bottom: 1px solid var(--blue);
}

.nav-items a:hover {
  color: var(--gray);
  border-bottom: 1px solid var(--gray);
}
