.profile-container {
  width: 90%;
  margin: 0 auto;
}

.profile-title {
  font-weight: none;
  margin: 10px 0;
}

.check-icon {
  color: rgb(113, 255, 113);
}

.close-icon {
  color: rgb(236, 89, 89);
}

.side-bar {
  background-color: white;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  width: 300px;
}

.profile-pic {
  height: 210px;
  width: 230px;
  box-shadow: var(--dark-shadow);
  margin-bottom: 30px;
}

.side-bar ul li {
  list-style-type: none;
  width: 250px;
  font-size: 20px;
  margin: 10px 0;
}

.side-bar ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.side-bar ul li a:hover {
  color: gray;
}

.side-bar ul li a:active {
  color: gray;
}

.two-bar-container {
  display: flex;
  justify-content: center;
}

.two-bar-container div {
  margin: 20px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: var(--dark-shadow);
}

.informations {
  width: 900px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 300px;
}

.information-changes {
  justify-content: flex-start;
}

.informations div {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 5px;
  padding: 0;
  box-shadow: none;
}

.informations div label {
  font-size: 16px;
}
.informations div input {
  padding: 6px;
}

table {
  width: 780px;
  padding: 20px;
  background-color: white;
  box-shadow: var(--dark-shadow);
  margin: 20px 0;
  border-radius: 10px;
}

.requirement {
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

table tr td,
th {
  border: 1px solid gray;
  text-align: center;
}

.status-container {
  text-align: center;
  align-items: center;
}

.application-status {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 50px;
  letter-spacing: 8px;
  font-style: italic;
  color: var(--blue);
  text-transform: uppercase;
  text-decoration: underline;
}

.school-name-input {
  width: 610px;
}
